@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap');

body {
  background-color: #f5f5f5;
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
}

nav {
  width: max-content;
}

a {
  color: #355070;
  text-decoration: none;
}

a:hover {
  color: #4CAF50;
}

/* Only effects Old Edge and IE */
a:visited {
  color: #355070;
  text-decoration: none;
}

a:link:hover {
  color: #355070;
}

/* Selected page */
nav li {
  color: #e56b6f;
}

nav ul {
  list-style-type: none;
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 10px;
  border-radius: 10px;
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 16px;
}

nav ul li {
  display: inline;
  padding-right: 6px;
  padding-left: 6px;
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
}

.text {
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
}

input {
  font-size: 20px;
  padding: 5px;
  width: 280px;
}

#button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 18px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

#button:hover {
  background-color: #3d9c40;
}

#button:focus {
  outline: none;
}

.signupform {
  background-color: white;
  padding: 20px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  border-radius: 5px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
}

#form-title {
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
}

#landing {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.padded {
  width: 40vw;
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
}

.groove-logo {
  width: 75vw;
  max-width: 300px;
}

h2 {
  color: #355070;
}

h1 {
  color: #355070;
}
#myDiv {
  position:absolute;
   bottom:0;
}
